
<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
---- Include the above in your HEAD tag --------

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="{% url 'home' %}">SweeRoom</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Items
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" href="{% url 'list-items' %}">All Items</a></li>   
            {% if user.is_authenticated %}
            <li><a class="dropdown-item" href="{% url 'add-item' %}">Add item</a></li>
            <li><a class="dropdown-item" href="{% url 'my_items' %}">My items</a></li>
            {% endif %}
            <li><a class="dropdown-item" href="{% url 'search_items' %}">Search items</a></li>

          </ul>    
        
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Vendors
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" href="{% url 'list-vendors' %}">All vendors</a></li>
            {% if user.is_authenticated %}
            <li><a class="dropdown-item" href="{% url 'add-vendor' %}">Add vendor</a></li>
            {% endif %}
            
          </ul>
        </li>   
          

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Downloads
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" href="{% url 'vendor_text' %}">vendor Text File</a></li>
            <li><a class="dropdown-item" href="{% url 'vendor_csv' %}">vendor CSV File</a></li>
            <li><a class="dropdown-item" href="{% url 'vendor_pdf' %}">vendor PDF File</a></li>
          </ul>
        </li>
        {% if user.is_authenticated %}
        {% if user.is_superuser %}
            <li class="nav-item">
            <a class="nav-link" href="{% url 'admin_approval' %}">Admin</a>
          </li>
        {%endif %}
          <li class="nav-item">
            <a class="nav-link" href="{% url 'logout' %}">Logout</a>
          </li>
        {% else %}
          <li class="nav-item">
            <a class="nav-link" href="{% url 'register_user' %}">Register</a>
          </li>
  
          <li class="nav-item">
            <a class="nav-link" href="{% url 'login' %}">Login</a>
          </li>
        {% endif %}
  
        </ul>
        <form class="d-flex" method=POST action="{% url 'search-vendors' %}">
          {% csrf_token %}
  
          <input class="form-control me-2" type="search" placeholder="Search vendors" aria-label="Search" name="searched">
          <button class="btn btn-outline-secondary" type="submit">Search</button>
        </form>
        
  </div>
</nav>

