{% extends 'base/base.html' %}

{% block content %}

<div class="card">
  <div class="card-header">
    {% if searched %}
		You Searched For {{ searched }}
	{% else %}
		Search Items...
	{% endif %}
  </div>
  <div class="card-body">

<form method=POST action="{% url 'search_items' %}">
        {% csrf_token %}

        <input class="form-control me-2" type="search" placeholder="Search vendors" aria-label="Search" name="searched">
        <br/>
        <button class="btn btn-outline-secondary" type="submit">Search</button>
      </form>

</div></div>

	
		<br/>
		{% for item in items %}
			<div class="card">
  <div class="card-header">
    {{ item }}
  </div>
  <div class="card-body">
    <h5 class="card-title">vendor: {{ item.vendor }}</h5>
    <p class="card-text">
    	<ul>

	</li>
	</ul>

<li>vendor Website: {{ item.vendor.web }}</li>
<li>assistant: {{ item.assistant }}</li>
<li>Description: {{ item.description }}</li>
<li>Approved: {{ item.approved }}</li>
	<li>client:<br/>
	{% for user in item.client.all %}
{{ user }}<br/>
  
  {% endfor %}

    </p>
  </div>
  {% if user.is_authenticated %}
    {% if user == item.manager %}
      <div class="card-footer text-muted">
        
        <a href="{% url 'update-item' item.id %}" class="btn btn-outline-secondary btn-sm">Update item</a>

        <a href="{% url 'delete-item' item.id %}" class="btn btn-outline-danger btn-sm">Delete item</a>
        
      </div>
    {% endif %}  
  {% endif %}
</div>





	<br/><br/>
		{% endfor %}
	


	

	
	
{% endblock %}